*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: burlywood;
}
p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

.colorRGB{
    color: rgb(93, 113, 218);
}

.colorRGBA{
    color: rgba(93, 217, 94, 0.6);
}

.colorHEX{
    color: #EE43E3;
}

.colorHSL{
    color: hsl(30, 68%, 31%);
}

.footer-wrapper{
    display: block;
    margin: 32px 0 0;
    padding: 0;
    text-align: center;
    font-size: 27px;
    font-size: 1.6875rem;
    letter-spacing: 5px;
    text-transform: upperCase;
    background-color: cadetblue;
  }
.menu {
    position: relative;
    min-height: 147px;
    max-width: 1920px;
    z-index: 10;
    margin: -1px auto 0;
    padding: 1px 0 0;
    overflow: visible;
  }
  .logo {
    position: absolute;
    display: block;
    width: 190px;
    height: 190px;
    top: 20px;
    left: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }